body {
  background-color: #FFC0CB;
  font-family: Comic Sans MS;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #87CEEB;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background: #0056b3;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}